fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
pydantic-settings
pydantic

celery[redis]
redis
flower

langchain
langgraph
langchain-core
langchain-groq
langchain-community
langchain-huggingface
slowapi
langchain-google-genai
langchain-text-splitters

chromadb
sentence-transformers
rank-bm25

pypdf
python-docx
unstructured
markdown

python-multipart
tenacity
tiktoken

passlib[bcrypt]
python-jose[cryptography]
httpx
email-validator
argon2-cffi

pdfplumber

kuzu